@font-face {
    font-family: 'Poppins';
    src: url('fonts/Poppins-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins';
    src: url('fonts/Poppins-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'VG5000';
    src: url('fonts/VG5000-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins';
    src: url('fonts/Poppins-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}


html,
body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}

body {
    overflow: hidden;
    height: 100vh;
    width: 100vw;
    background-size: cover;
}

img {
    display: block;
}

a,
a:visited {
    color: black;
}

h3 {
    margin-bottom: 0;
}

#contact {
    font-family: 'VG5000', monospace;
    font-size: larger;
    color: white;
    text-decoration: none;
    mix-blend-mode: difference;
    position: absolute;
    top: 0;
    right: 0;
    padding: 1em;
}

#contact:visited {
    color: white;
}

.card {
    position: absolute;
}

.card-title {
    font-family: 'VG5000', monospace;
    color: white;
    background-color: black;
    padding: 0.5em;
    width: fit-content;
    user-select: none;
    cursor: move;
}

.card-content {
    display: blocks;
    padding: 2em;
    width: 20em;
    /* min-height: 15em; */
    background-color: white;
    box-shadow: rgba(17, 17, 26, 0.3) 0px 1px 0px,
        rgba(17, 17, 26, 0.3) 0px 8px 24px,
        rgba(17, 17, 26, 0.3) 0px 16px 48px;
}

.card-expand-horizontal {
    width: fit-content;
}

.card-content img {
    width: 26em;
}

.close,
.expand {
    text-decoration: underline;
    cursor: pointer;
    font-weight: 500;
}

.close {
    color: red;
}

.expand {
    color: blue;
}

/* Image exanding cards */
#download-content,
#events-content {
    padding: 0;
    width: fit-content;
}

#download-expand,
#events-expand {
    cursor: pointer;
}

#download-expanded-content,
#events-expanded-content {
    display: none;
    padding: 2em;
}

#download-expanded-content {
    grid-template-columns: repeat(4, min-content);
    column-gap: 1em;
}

.spacer {
    width: 2em;
}

#download-expanded-content>img {
    align-self: center;
}

#waive-download {
    grid-column: 1 /3;
    justify-self: center;
}

#close-downloads,
#close-events {
    position: absolute;
    right: 1.5em;
    bottom: 1.5em;
    display: none;
}

ul {
    list-style-type: '_';
    list-style-position: inside;
    padding-inline-start: 0;
}

/* Search form */

#search-form {
    display: flex;
    height: 40em;
}

#search-filter {
    width: 20em;
    display: flex;
    flex-direction: column;
    margin-right: 1em;
}

#tag-checkboxes {
    flex-grow: 2;
    display: flex;
    flex-wrap: wrap;
    /* max-height: 20em; */
    height: 100%;
    overflow: scroll;
}

.form-check {
    margin-right: 0.5em;
}

.item-card {
    border-radius: 8px;
    border: 1px black solid;
    margin: 0.5em;
    padding: 0 1em;
}

#results-container {
    width: 30em;
    display: flex;
    flex-direction: column;
    overflow: scroll;
}

#search-btn {
    padding: 0.4em 0.8em;
    margin-top: 1em;
    background-color: white;
    cursor: pointer;
}

label {
    margin-top: 0.2em;
}

#pagination {
    display: flex;

}

#pagination li {
    list-style-type: ' ';
}

.active a {
    color: black;
    text-decoration: none;
}

.disabled {
    color: black;
    cursor: default;
}